<div class="container-md container-fluid-xs">
  <div class="our-blog">
    <div class="heading-banner">
      <div class="banner-content">
        <span>Our Blog</span>
        <h3 class="title">Latest Blog Articles</h3>
      </div>
      <div class="btn-wrapper">
        <app-btn [btnClass]="'light-solid-btn'" [title]="'Discover All'" />
      </div>
    </div>

    <div class="blogs-container">
       <!-- Blog -->
       <app-blog *ngFor="let blog of blogs"
       [image]="blog.image"
       [name]="blog.name"
       [title]="blog.title"
       [date]="blog.date"
       ></app-blog>
    </div>

    <hr style="border: none; height: 2px;width: 100%;background-color: #F3D1BF;"/>
  </div>
</div>
