<div class="container">
  <div class="contact-container">
    <div class="contact-box">
      <!-- Phone -->
      <div class="contact-item">
        <div class="icon-name">
          <div class="icon">
            <i class="fas fa-phone-alt"></i>
          </div>
          <div class="label">Phone</div>
        </div>
        <h4 class="info">+1 (234) 567-89-00</h4>
      </div>

      <!-- Email -->
      <div class="contact-item">
        <div class="icon-name">
          <div class="icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="label">Email</div>
        </div>
        <h4 class="info">info&#64;agency.com</h4>
      </div>

      <!-- Address -->
      <div class="contact-item">
        <div class="icon-name">
          <div class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="label">Address</div>
        </div>
        <h4 class="info">2247 Lunetta Street, TX 76301</h4>
      </div>
    </div>
  </div>    
</div>
