<section class="latest-work">
  <div class="container-md container-sm">
    <div class="text-center banner-content">
      <span>Portfolio</span>
      <h2 class="title">Latest Work</h2>
    </div>

    <div class="category-tabs-wrapper d-md-flex d-none">
      <button
        *ngFor="let cat of categories"
        (click)="selectCategory(cat)"
        [ngClass]="{ 'active-btn': selectedCategory === cat }"
      >
        {{ cat }}
        <sup *ngIf="getCategoryCount(cat) > 0">{{ getCategoryCount(cat) }}</sup>
      </button>
    </div>

    <select
  name="category"
  class="select-category d-md-none d-block"
  [(ngModel)]="selectedCategory"
>
  <option *ngFor="let cat of categories" [value]="cat">
    {{ cat }} ({{ getCategoryCount(cat) }})
  </option>
</select>


    <div class="category-img-container">
      <div
        *ngFor="let item of workItems"
        class="img-wrapper"
        [ngClass]="{ 'big-item': item.id == 2 || item.id == 3 }"
      >
        <img
          [src]="item.image"
          [alt]="item.title"
          class="w-full object-cover"
        />
        <div class="category-info-wrapper">
          <button class="category">
            {{ item.category }}
          </button>
          <h3 class="item-name">
            {{ item.title }}
          </h3>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <app-btn [btnClass]="'outline-btn'" [title]="'Explore More'"></app-btn>
    </div>
  </div>
</section>
