.banner {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
    padding: 60px 0;
}

.banner .back-to-portfolio {
    padding-bottom: 40px;
    display: block;
}

.banner .back-to-portfolio span {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #391400;
}

.banner .title {
    color: #391400;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    margin: 0 0 30px 0;
    text-transform: capitalize !important;
}

.portfolio-info .title {
    color: #EF6D58;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolio-info .category-wrapper .category-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio-info .date-wrapper .date {
    color: #391400;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}


.portfolio-info .date-wrapper {
    padding-top: 20px;
}

.portfolio-details .img-wrapper {
    display: flex;
    justify-content: center;
}

.portfolio-details img {
    width: 80%;
    height: 100%;
}

.banner .facility {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #391400;
}

.banner .description {
    padding: 20px 0;
    color: #391400A3;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.bottom-wrapper {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.bottom-wrapper label {
    color: #391400A3;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}


.banner .social-link-logo-wrapper {
    display: flex;
    gap: 10px;
}

.banner .social-link-logo-wrapper .social-link-logo {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EF6D58;
    display: flex;
    align-items: center;
    justify-content: center;
}

.related-project-title {
    color: #391400;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 30px 0 20px 0;
}

.portfolio-details .category-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.portfolio-details img {
    width: 100%;
    height: auto;
}

.portfolio-details .img-wrapper,
.portfolio-details .img-wrapper img {
    height: 100%;
    width: 100%;
}

.absImg {
    border-radius: 6px;
    position: relative;
    display: inline-block;
}

.absImg::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 130px;
    width: 130px;
    transform: translate(-50%, -50%);
    background: url('/assets/images/banner-images/play.png') no-repeat center center;
    background-size: contain;
}

.absImg::after {
    content: "2:14";
    position: absolute;
    bottom: 20px;
    left: 24px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: #570B003D;

}

@media (max-width:990px) {
    .banner {
        display: block;
        width: 100%;
        padding: 60px 0;
    }

    .portfolio-details img {
        width: 100%;
    }
}

@media (max-width:768px) {
    .banner .title {
        font-size: 40px;
        line-height: 50px;
        margin: 0 0 10px 0;
    }

    .banner {
        padding: 40px 0;
    }


    .portfolio-info .title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}

@media (max-width:468px) {

    .portfolio-details .category-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}