<div class="pricing-wrapper bg-light">
    <div class="container-md container-fluid-xs">
      <div class="banner-content">
        <span>Pricing</span>
        <h2 class="title">
          Check Our<br />
          Pricing Plans
        </h2>
      </div>
      <div class="pricing-cards-wrapper">
        <div
          class="pricing-card"
          *ngFor="let plan of plans"
          [class.popular]="plan.isPopular"
        >
          <label *ngIf="plan.isPopular" class="popular-badge">Popular</label>
          <h5 class="plan-tag">{{ plan.tag.toUpperCase() }}</h5>
          <h2 class="plan-price">{{ plan.price }}</h2>
          <p class="plan-desc">
            Provide your business with a variety of digital solutions to promote.
          </p>
  
          <ul class="feature-list">
            <li *ngFor="let feature of plan.features; let i = index">
              <ng-container *ngIf="plan.available[i]; else unavailableIcon">
                  <span class="dot active">
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#EF6D58" />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M8 4C7.44772 4 7 4.44772 7 5V7H5C4.44772 7 4 7.44772 4 8C4 8.55228 4.44772 9 5 9H7V11C7 11.5523 7.44772 12 8 12C8.55228 12 9 11.5523 9 11V9H11C11.5523 9 12 8.55228 12 8C12 7.44772 11.5523 7 11 7H9V5C9 4.44772 8.55228 4 8 4Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                </ng-container>
                
                <ng-template #unavailableIcon>
                  <span class="dot">
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="8" cy="8" r="8" fill="#F6DACA" />
                      <rect x="4" y="7" width="8" height="2" rx="1" fill="white" />
                    </svg>
                  </span>
                </ng-template>
          <p>{{ feature }}</p>
            </li>
          </ul>
  
          <app-btn
          [btnClass]="'danger-solid-btn'"
          [title]="'contact us'"
          *ngIf="plan.isPopular"
          ></app-btn>
          <app-btn
          [btnClass]="'light-solid-btn'"
          [title]="'contact us'"
          *ngIf="!plan.isPopular"
          ></app-btn>
        </div>
      </div>
    </div>
  </div>
  