<div class="container-md container-fluid-xs">
    <div class="logo-strip">
      <div class="logo-item">
        <!-- Digital side Logo SVG -->
        <img src="assets/images/brands/dark-digitalside.png" alt="">
      </div>
  
      <div class="logo-item">
        <!-- Vortex Logo SVG -->
        <img src="assets/images/brands/dark-vortex.png" alt="">
      </div>
  
      <div class="logo-item center-divider">
        <!-- Travel Explorer Logo SVG -->
        <img src="assets/images/brands/dark-travel.png" alt="">
      </div>
  
      <div class="logo-item">
        <!-- Fuzion Logo SVG -->
        <img src="assets/images/brands/dark-fuzion.png" alt="">
      </div>
  
      <div class="logo-item">
        <!-- MediaFury Logo SVG -->
        <img src="assets/images/brands/dark-mediafury.png" alt="">
      </div>
    </div>
  </div>
  