<div class="hero-section bg-dark abstract">
  <div class="container-md container-fluid-xs">
    <div class="row d-flex align-items-center">
      <div class="col-lg-5 col-12 hero-content order-lg-1 order-2">
        <span>{{ span }}</span>
        <h2 class="title">{{ title }}</h2>
        <p class="description">{{ description }}</p>

        <!-- Button group -->
        <div class="btn-wrapper">
          <app-btn [btnClass]="'danger-solid-btn'" [title]="btnTitle1">
          </app-btn>
          <app-btn [btnClass]="'text-btn'" [title]="btnTitle2" [route]="'/contact'">
          </app-btn>
        </div>

        <!-- testimonial section -->
        <app-testimonial
        class="mt-md-5 mt-4"
          [testimonialImg]="testimonialImg"
          [quote]="quote"
          [name]="name"
        ></app-testimonial>
      </div>
      <div class="col-lg-6 col-12 offset-lg-1 offset-0 order-lg-2 order-1 hero-image">
        <img [src]="heroImage" alt="" />
      </div>
    </div>
  </div>
</div>
