<div class="about-content">
  <div class="container-md container-fluid-xs">
    <div class="banner-content">
      <span>About</span>
      <div class="row">
        <div class="col-lg-5 col-12">
          <h2 class="title">An Experience Design Agency</h2>
        </div>
        <div class="col-lg-6 col-12 offset-lg-1 offset-0 pt-lg-0 pt-md-5 pt-3">
          <p class="description mb-4">
            Ability to put themselves in the merchant's shoes. It is meant to
            partner on the long run, and work as an extension of the merchant's
            team.
          </p>
          <p class="description">
            A digital agency is a business you hire to outsource your digital
            marketing efforts, instead of handling in-house. They can provide
            your business with a variety of digital solutions to promote your
            product or service online and help you.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12">
        <div class="img-wrapper absImg">
          <img src="assets/images/banner-images/bannerImage2.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-6 mt-md-0 mt-sm-4 mt-2 pe-md-2 pe-sm-2 pe-1">
            <img src="assets/images/banner-images/bannerImage3.png" alt="" />
            <img src="assets/images/banner-images/bannerImage5.png" alt="" class="mt-sm-4 mt-2" />
          </div>
          <div class="col-6 mt-md-0 mt-sm-4 mt-2 ps-md-2 ps-sm-2 ps-1">
            <img src="assets/images/banner-images/bannerImage4.png" alt="" />
            <img src="assets/images/banner-images/bannerImage6.png" alt="" class="mt-sm-4 mt-2"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
