<div class="bg-dark">
  <!-- Banner-->
  <app-text-banner 
  [title]="'About Us'"
    description="Agency provides a full service range including technical skills, design, business understanding."
 />
</div>

<div class="bg-light">
  <!-- About Content -->
  <app-about-content />

  <!-- Features -->
  <app-features-cards />

  <!-- Statistics -->
  <app-statistics />
</div>

<div class="bg-dark">
  <!-- Testimonial cards -->

  <!-- FAQ -->
  <app-faq [BgTheme]="'bg-dark'" />

  <!-- Brands -->
  <app-dark-brands />

  <!-- Dream Project -->
  <div class="margin">
    <app-dream-project [btnTitle]="'contact now'" />
  </div>

  <div class="bg-light" style="width: 100%; height: 150px"></div>
</div>
