<div class="testimonials-wrapper">
  <div class="container-md container-fluid-xs">
    <div class="banner-content">
      <span>Testimonials</span>
      <h2 class="title">
        What Our<br />
        Clients Saying
      </h2>
    </div>
    <div class="cards-wrapper">
      <div
        class="card testimonial-card"
        *ngFor="let testimonial of testimonials; let i = index"
      >
        <div class="rate">
          <span *ngFor="let i of [0, 1, 2, 3, 4]">
            <svg
              width="24"
              height="22"
              viewBox="0 0 24 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 18L4.94658 21.7082L6.29366 13.8541L0.587322 8.2918L8.47329 7.1459L12 0L15.5267 7.1459L23.4127 8.2918L17.7063 13.8541L19.0534 21.7082L12 18Z"
                fill="#F6D021"
              />
            </svg>
          </span>
        </div>
        <p class="text">{{ testimonial.text }}</p>
        <div class="test-person-info">
          <div class="testimonial-img">
            <img [src]="testimonial.image" [alt]="testimonial.name" />
          </div>
          <div>
            <h5 class="name">{{ testimonial.name }}</h5>
            <span class="company">{{ testimonial.company }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-lg-5 mt-3 mb-xl-5 mb-0">
      <app-btn [btnClass]="'light-solid-btn'" [title]="'See All'"></app-btn>
    </div>
  </div>
</div>
