<div class="bg-light">
  <div class="container-md container-fluid-xs" id="how-we-work">
    <div class="how-work">
      <div class="banner-content">
        <span>{{ span }}</span>
        <h2 class="title">{{ title }}</h2>
        <p class="description">{{ description }}</p>

        <a href="#" class="linkText pb-3" [ngClass]="btnNone">Read More</a>
      </div>
      <div class="right-section">
        <div class="step">
          <span class="number">1</span>
          <span class="text">Full service range including</span>
        </div>
        <div class="step">
          <span class="number">2</span>
          <span class="text">Technical skills, design, business</span>
        </div>
        <div class="step">
          <span class="number">3</span>
          <span class="text">Themselves in the merchant's</span>
        </div>
      </div>
    </div>
  </div>
</div>
