<div class="container-md container-fluid-xs">
    <div class="dream-project">
        <div class="text-content">
            <h3 class="title">We’re Help To Build Your Dream Project</h3>
            <p class="description">A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.</p>
       <app-btn
       [btnClass]="'light-solid-btn'"
       [title]="btnTitle"
       />
        </div>
        <div class="img-wrapper">
            <img src="assets/images/dream-project/img1.png" alt="">
        </div>
    </div>
</div>